* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px !important;
}
body, html {
  background-color: #DFE9F6;
  margin: 0px;
  padding: 0px 5px 0px 5px;
  height: 100%;
}
img {
  border: 0px;
}
.x-grid-table tfoot td * {
  font-weight: bold;
}
.x-center-cell, .x-center-cell * {
  text-align: center !important;
}
.x-price-cell, .x-price-cell * {
  text-align: right !important;
}
.x-amount-cell, .x-amount-cell * {
  text-align: right !important;
  font-weight: bold !important;
}
.x-toolbar-default, #cash_item_form_add {
  background: none !important;
  border-width: 0px !important;
}
.edit-cash-col {
  background-image: url("edit.png");
}
.del-cash-col {
  background-image: url("delete.gif");
  margin-left: 7px;
}
#cash_list_tabs .x-tab-bar {
  border: 0px !important;
}
#cash_list_tabs-body .x-panel, #cash_list_tabs-body {
  border-top: 0px !important;
  border-radius: 0 0 4px 4px;
}
#cash_list_from_date-inputCell .x-form-text, #cash_list_to_date-inputCell .x-form-text {
  height: 19px !important;
}
#cash_list_tb {
  top: 5px !important;
}
.x-grid-row .x-grid-cell-inner {
  white-space: normal;
}
#cash_item_price_tb {
  padding: 1px 0 5px 0px;
}
#cash_item_edit_id_label {
  font-size: 10px !important;
  color: #666666;
}